# ============================================================
# Configuración de la aplicación
# ============================================================
APP_ENV=development

# ============================================================
# Configuración de AWS (rellena con tus valores)
# ============================================================
AWS_DEFAULT_REGION=eu-north-1
AWS_ACCOUNT_ID=<TU_ID_DE_CUENTA_AWS>

# ============================================================
# Nombres de los recursos de AWS (rellena con tus valores)
# ============================================================
ECR_REPOSITORY=fastapi-cicd-ejemplo
ECS_CLUSTER=fastapi-cluster
ECS_SERVICE=fastapi-cicd-task-service
ECS_TASK_DEFINITION=fastapi-cicd-task
CONTAINER_NAME=fastapi-api
