# Copia este archivo como backend.hcl y reemplaza el nombre del bucket.
bucket       = "tu-bucket-terraform-state"
key          = "fastapi-cicd/terraform.tfstate"
region       = "us-east-2"
encrypt      = true
use_lockfile = true
